<html>

  <head>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>

  <body>
  
    <div id="outside">
    
      <p id="outside-title">
        happ birt h
      </p>

      <img id="outside-pic" src="https://lemonthy.ca/pic/h101/rainbow.png">

      <p>
        <button onclick="open_card()">click to open :D</button>
      </p>

    </div>
  
    <div id="inside">
    
      <p id="inside-title">
        i tried to make a cake but i nearly burnt down ur kitchen!
      </p>
      
      <img id="inside-pic" src="https://lemonthy.ca/pic/h101/dinosaur.png">
      
      <p id="message">
        im boutta start corn on the cobbing u - sincerely, me
      </p>

      <p>
        <button onclick="close_card()">click to close D:</button>
      </p>

    </div>

  </body>

</html>