<html>
  <head>
    <title>murder of crow's will.</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  </head>
  
  <body>
    
    <p>
      <span class="roughpaper medium skewleft">last</span>
      <span class="comic reallybig rotateright">night</span>
      <span class="magazine1">i</span>
      <span class="computerprintout medium">looked</span>
      <span class="canvas big skewright">out</span>
      <span class="magazine1 rotateleft">for</span>
      <span class="comic medium skewleft">kurama.</span>
      <span class="computerprintout medium skewleft">they</span>
      <span class="comic">died</span>
      <span class="magazine2 medium rotateright">and</span>
      <span class="computerprintout big">neri</span>
      <span class="canvas big">had</span>
      <span class="magazine2 big">visited</span>
      <span class="comic medium">them.</span>
      <span class="roughpaper medium rotateright">neri</span>
      <span class="roughpaper medium rotateleft">is the killer.</span>
    </p>
    
  </body>
  
</html>	
