
<html>

  <head>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <h1>Banana Milkshake</h1>
    <img src="https://lemonthy.ca/pic/h104/Banana-Milk-Shake.jpg">
    <h3>Ingredients:</h3>

    <ul>
      <li>1 banana</li>
      <li>250ml milk</li>
      <li>3 ice cubes</li>
    </ul>

    <h3>Method:</h3>

    <ol>
      <li>Peel the banana, then add it into a blender</li>
      <li>Add the milk and ice cubes to the blender</li>
      <li>Turn on the blender for 30 seconds</li>
      <li>Your banana milkshake is now ready for serving!</li>
    </ol>

    <hr>

    <h3>Review:</h3>

    <ul>
      <li>Marcus: This was really simple to make - 9/10</li>
      <li>Adele: It was ok, but more bananas would improve the flavour - 7/10</li>

    </ul>

    
  </body>
  
</html>